/*My colors Shandy Brown="#FC9F5B" Tuscan="#FBD1A2" Dutch White="#ECE4B7" Pearl Aqua="#7DCFB6" UFO Green="#33CA7F"*/



body{
    /* background-color: #ECE4B7; */
    font-weight: 400;
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;    
    background-color: #C0C0C0;
    font-display: swap;

}

/*Search Form*/
.choose h2{
    text-align: center;
    color: #E27D60;
    padding: 20px;
    opacity: 1.0;
}

.search-bar{
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    top: 52%;
    background:#7f7f7f; 
    background:rgba(0,0,0,0.4);
    margin-left: 25%; 
    margin-right: 25%;

}
@media (max-width: 600px){
    .search-bar{
        display: block;
        position: relative;
        text-align: center;
        margin: auto;
        top: 33%;
    
    }
}
.search-form{
    padding-top: 5px;
}
.search-form input{
    width: auto;
    color: #FC9F5B;
    text-align: center;
    margin-top: 10px;
    padding: 10px;

}

.search-form button{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    font-weight: 400;
    margin-bottom: 20px;
    color: #E27D60;
    border: 2px solid #E27D60;
}

.search-form button:hover{
    background-color: #E27D60;
    color: #ECE4B7;
}

.dropdown{
    width:200px;
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    height: 100%;
    text-align: center;
    margin: auto;
}

.dropdown .select {
    width:200px;
    cursor: pointer;
    display: block;

}
.option-menu{
    text-align: center;
    width:auto;
    width: 50px;
    max-width: 200px;
}

.form-control{
    background-color:#7f7f7f;
    color: #212529;
    border: 1px solid #E27D60;
    font-weight: 600;
}

/*Click here to go to charts page Styleing*/
.home-chart,
.home-chart a{
    text-align: center;
    color: #E27D60;
}
#here-Link {
    border-bottom: 3px solid #E27D60;
    color: #E27D60;
}

#here-Link:hover{
    text-decoration: none;
    color: #E8A87C;
    border-bottom: 3px solid #E8A87C;
}
/*Artist card*/
.artist-cards{
    text-align: center;
    margin: auto;
    color: #E27D60;    
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #557A95;
    border: 2px solid #E27D60;
}
.title {
    color: #E8A87C;
    font-size: 18px;
}
.card a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card img{
    width: auto;
    height: auto;
    margin: auto;
    padding:20px;

}
.card p{
    font-size: 16px;
}
.card h1{
    font-size: 18px;
}
.no-imagesizeing{
    max-width: 174px;
}
.viewAlbum-songs{
    margin: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    border: 1px solid #E27D60;
    color: #E27D60;
    font-weight: 600;
    height: 40px;
}
/* View Album Songs*/
.album-songs img{
    width: auto;
    height: auto;
    padding: 15px;
}
.album-songs{
    text-align: center;
    font-size: 18px;
}

.list-songs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.track-name{
    padding-top: 5px;
    margin: auto;
}
.track-duration{
    margin: auto;
}
@media (max-width: 768px) {
    .list-songs{
        font-size: 16px;
    }
}


/*Nav Bar*/
.bg-navbar{
    background-color: #E8A87C;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link{
    color: #557A95;
    font-weight: 600;
    font-size: 20px;
}
.navbar-collapse{
    text-align: center;
}
.navbar-brand{
    padding-top: 0;
}
@media (max-width: 600px){
    .navbar-brand{
        margin: 0;
    }
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover{
    color: #7f7f7f;
}

.active{
    border-bottom: 2px solid #557A95;
    border-bottom-width: 5px;
}
.navbar-toggler{
    margin-left: auto;
    margin-right: auto;
}

/*Hero image*/
.hero-image{
    background-image: url("images/headphones-guy.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
}
/*Footer*/
.page-footer a{
    color:#C0C0C0;
    font-size: 20px;
    position: relative;

}
.page-footer a:hover{
    color: #E27D60;
    position: relative;

}
.page-footer{
    background-color:#7f7f7f;
    position: relative;
}
.footer-text{
    padding: 5px;
    color: #C0C0C0;

}


/*Search By Songs */
.songs-search{
    margin: auto;
    text-align: center;
    height: 150px;
    margin-bottom: 20px;
}

.songs-search > h4{
    color: #C0C0C0;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
}
.song-search-outer p{
    color: #E27D60;
}
.song-search-outer{
    text-align: center;
    margin: auto;
color: #E27D60;    
padding: 10px;
}
/*Top Charts table*/
.charts-image{
    background-image: url("images/calming-lake-orignal.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
}
.charts-outer{
    padding: 0;
    color: #212529;
}
#chart-table > tbody > tr{
    background-color: transparent;
}
table.dataTable tr.even td.sorting_1,
table.dataTable tr.odd td.sorting_1 {
    background-color: transparent;
}
.paginate_button{
    cursor:pointer;
    margin: 5px;
}

#chart-table{
    font-weight: 1000;
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 70%;
    height: 70%;
    margin-top: 10px;


}
#chart-table_wrapper{
    height: 100%;
    padding-top: 5px;
}


.dataTables_length {
    margin: auto;
    color: #7DCFB6;
    font-weight: 600;
    margin-left: 50px;

}
.dtr-details{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: auto;
}

#chart-table_filter{
    font-weight: 800;
    text-align: center;
    float: none;
    font-size: 20px;
}
#chart-table_filter input{
    background-color: #C0C0C0;
    color: #E27D60;
    border: #E27D60 solid 1px;
}

.dataTables_info {
    clear: both;
    float: left;
    color: #E27D60;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
.dataTables_paginate > a,
.dataTables_paginate > span {
    font-weight: 800;
    font-size: 24px;
    color: #E27D60;
    margin: 10px;
}
.dataTables_paginate > span > a:hover,
.dataTables_paginate > a:hover{
    color: #7DCFB6;
}
.dataTables_paginate{
    font-weight: 1000;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);

}
@media (max-width: 480px){
    .dataTables_info {
        float: none;
        text-align: center;  
        padding: 5px;      
    }
    .paginate_button{
        cursor:pointer;
        margin: auto;
        float: none;
        text-align: center;
    }
}
@media (max-width: 650px){
    #chart-table{
        font-weight: 1000;
        font-size: 14px;
        width: 80%;
        height: 70%;
    }
    .dataTables_paginate > a,
    .dataTables_paginate > span,
    .paginate_button  {
        font-weight: 1000;
        font-size: 20px;
        color: #E8A87C;
        text-align: center;
    }
    .dataTables_info {
        float: none;
        text-align: center;
        font-size: 18px;  
        padding: 5px;      
    }
    .dataTables_paginate{
        float: none;
        text-align: center;
        padding: 5px;
    }
    #chart-table{
        font-size: 14px;    
    }

}

.charts-image h2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


.page-button{
    background-color: #7DCFB6;
    height: 30px;
    width: 30px;
    margin: 15px;
    padding-right: 5px;
}
.page-button:hover{
    background-color: #FC9F5B;
}
.page-button::visited{
    background-color: #ECE4B7;
}
#buttons{
    margin: auto;
    text-align: center;
}

h4 {
    font-size: 1.0rem !important;
    font-style: italic;
}
