/*My colors Shandy Brown="#FC9F5B" Tuscan="#FBD1A2" Dutch White="#ECE4B7" Pearl Aqua="#7DCFB6" UFO Green="#33CA7F"*/



body{
    /* background-color: #ECE4B7; */
    font-weight: 400;
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;    
    background-color: #ECE4B7;

}
.container-fluid{
    padding: 0;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*Search Form*/
.choose h2{
    text-align: center;
    color: #ECE4B7;
    padding: 15px;
}
.search-bar{
    /* background-image: url("/assets/images/calming-guaitar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px; */
    display: block;
    position: relative;
    text-align: center;
    /* padding-top: 30px; */
    margin: auto;
    top: 35%;
    /* margin-right: -50%; */
}
.search-form input{
    width: 300px;
    color: #FC9F5B;
    text-align: center;
    margin-top: 10px;
    padding: 10px;

}

.search-form button{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    font-weight: 400;
    margin-bottom: 20px;
    color: #FC9F5B;
    border: 2px solid #FC9F5B;
}

.search-form button:hover{
    background-color: #FC9F5B;
    color: #ECE4B7;
}

.dropdown{
    width:200px;
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    height: 100%;
    text-align: center;
    margin: auto;
}

.dropdown .select {
    width:200px;
    cursor: pointer;
    display: block;

}
.option-menu{
    text-align: center;
    width:75px;
    min-width: 0;
    /* background-color: #FC9F5B; */
    

}
.dropdown select{
    margin: 5px;
    /* padding-left: 20px; */
}
.dropdown input{
    margin: 5px;
}
select, input{
    background-color: #ECE4B7;
}

.option-menu:hover{
    background-color: #FC9F5B;
}


/*Artist card*/
#artist-card{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
#here-Link {
    font-size: 2.5rem;
    border-bottom: 3px solid #FC9F5B;
    color: #212529;
}
#here-Link:hover{
    font-size: 2.5rem;
    /* border-bottom: #FC9F5B; */

    text-decoration: none;
    color: #FC9F5B;
    /* border: none; */
    border-bottom: 3px solid #FC9F5B;
}

#artist-card h2{
    font-size: 28px;
    color: #FC9F5B;
}


#artist-songs a{
    color: #874;
    padding: 5px;
}

#artist-songs li{
    list-style: none;
}


/*Nav Bar*/

.bg-navbar{
    background-color: #FC9F5B;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link{
    color: #212529;
    /* padding: 10px; */
    font-weight: 600;


}
.navbar-collapse{
    text-align: center;
}




.navbar-light a:hover{
    color: #FC9F5B;

    /* background-color: #ECE4B7; */
}
.active{
    /* color: #ECE4B7; */
    border-bottom: 2px solid #ECE4B7;
    border-bottom-width: 2px;
}
.active:hover{
    /* color: #7DCFB6; */

}
.navbar button:hover{
    /* background-color: #ECE4B7; */
    color: black;
}
.navbar button{
    color: #212529;
    font-weight: 600;
    border-color: #212529;
;
}

.form-control{
    background-color: #ECE4B7;
    color: #FC9F5B;
    border: 1px solid #7DCFB6;
}

.navbar-toggler{
    margin-left: auto;
    margin-right: auto;
}

/*Hero image*/
.hero-image{
    background-image: url("images/headphones-guy.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
}
/* .charts-image{
    background-image: url("images/calming-lake-orignal.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: fit-content;
    margin: auto;
} */



/*Footer*/
.page-footer a{
    color: #FC9F5B;
    position: relative;

}
.page-footer{
    background-color:#7DCFB6;
    /* height: 120px; */
    position: relative;
    /* bottom: 0; */
}


/*Card*/
.artist-cards{
    padding: 15px;
}
.card {
    /* max-height: 300px;
    max-width: 300px; */
    /* width: 300px;
    height: 300px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* margin-left: 0.0%;
    margin-right: 0.0%; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#ECE4B7;
}

.title {
    color: grey;
    font-size: 18px;
}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card img{
    /* width: 64px; */
    width: auto;
    height: auto;
    margin: auto;
    padding:20px;

}
.card p{
    font-size: 16px;

}

.card h1{
    font-size: 18px;
}

.no-imagesizeing{
    max-width: 174px;
}
.viewAlbum-songs{
    margin: auto;
    margin-bottom: 25px;
    background-color: #ECE4B7;
    border: 1px solid #FC9F5B;
    color: #FC9F5B;
    font-weight: 600;
    height: 40px;
}





#card-title{
    width: 33%;
    margin: 0;
}


/* .list-songs{
    list-style: decimal;
    list-style-position: inside;
    margin: auto;
    /* width: 80%; 
}*/

/**/
.album-songs img{
    width: auto;
    height: auto;
    padding: 15px;
}
.album-songs{
    text-align: center;
    font-size: 18px;

}

.list-songs {
    position: relative;
    /* float: left; */
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: 4;
    text-align: center;
    padding: 10px;
}

.list-songs > * {
    /* border: 1px solid #FC9F5B; */

    /* display: inline; */
    padding: 20px;
}
.list-songs > * {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
    list-style-type: disc;
}
.list-songs > *:after {
    content: '';
}

@media (max-width: 768px) {
    .list-songs{
        font-size: 16px;
    }
}


/*Test*/
.songs-search{
    /* float: left; */
    margin: auto;
    text-align: center;
    
}
.songs-search > h4{
    font-size: 20px;
}

.song-search-outer{
    text-align: center;
    margin: auto;
}

.track-card{
    text-align: center;
}
.track-outer{
    margin: auto;
    width: 85%;
    padding-top: 15px;


}
.track-outer ul{
    list-style: decimal-leading-zero;
}
.track-outer li{
    font-size: 18px;
}

/* .chart-info{
    background-image: url("images/calming-guaitar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
} */
.charts-image{
    background-image: url("images/calming-lake-orignal.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    /* position: relative; */
    /* background-color: #ECE4B7; */
    /* width: 100%; */
}
.charts-outer{
    /* background-color: #ECE4B7; */
    /* height: 900px; */
}
/* .charts-waterfall{
    background-image: url("images/waterfall.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; */
    /* position: relative; */
    /* height: 700px; */
/* } */
#chart-table > tbody > tr{
    /* width: 70%; */
    background-color: transparent;
}
table.dataTable tr.even td.sorting_1,
table.dataTable tr.odd td.sorting_1 {
    background-color: transparent;
}
.paginate_button{
    cursor:pointer;
    margin: 5px;
    width: 80%;
}
#chart-table{
    font-weight: 1000;
    font-size: 20px;
    /* margin: auto; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 80%;
    /* padding-bottom: 2.5rem; */
    height: 70%;
    margin-top: 10px;

    /* width: 70%; */

}
#chart-table_wrapper{
    /* background-image: url("images/calming-lake-orignal.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; */
    /* position: relative; */
    /* height: 800px; */
    /* width: 70%; */
    height: 100%;
    padding-top: 5px;

}


.dataTables_length {
    /* float: left; */
    margin: auto;
    color: #7DCFB6;
    /* background-color: rgba(255, 255, 255, 0.347); */
    font-weight: 600;
    margin-left: 50px;

}
.dtr-details{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: auto;
}

#chart-table_filter{
    font-weight: 800;
    text-align: center;
    float: none;
    font-size: 20px;
}
.dataTables_info {
    clear: both;
    float: left;
    color: #7DCFB6;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
.dataTables_paginate > a,
.dataTables_paginate > span {
    font-weight: 800;
    font-size: 24px;
    color: #212529;
    margin: 10px;
    /* border: #FC9F5B 1px solid; */
    /* margin-right: 50%; */
}
.dataTables_paginate > span > a:hover,
.dataTables_paginate > a:hover{
    color: #7DCFB6;
}
.dataTables_paginate{
    font-weight: 1000;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.2);

}
#dataTables_paginate{
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px){
    .dataTables_info {
        float: none;
        text-align: center;  
        padding: 5px;      
    }
    .paginate_button{
        cursor:pointer;
        margin: auto;
        float: none;
        text-align: center;
    }
    

}
@media (max-width: 650px){
    #chart-table{
        font-weight: 1000;
        font-size: 16px;
        /* margin: auto; */
        width: 80%;
        height: 70%;
    }
    .dataTables_paginate > a,
    .dataTables_paginate > span,
    .paginate_button  {
    font-weight: 1000;
    font-size: 20px;
    color: #212529;
    text-align: center;
    /* border: #FC9F5B 1px solid; */
    /* margin-right: 50%; */
}
.dataTables_info {
    float: none;
    text-align: center;
    font-size: 18px;  
    padding: 5px;      
    /* background-color: rgba(98, 98, 226, 0.267); */
    /* background-position: 50%;  */
}
.dataTables_paginate{
    float: none;
    text-align: center;
    padding: 5px;  
    /* background-color: rgba(98, 98, 226, 0.267); */
    /* background-position: 50%;  */

}

}

.charts-image h2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


.page-button{
    background-color: #7DCFB6;
    height: 30px;
    width: 30px;
    margin: 15px;
    padding-right: 5px;
}
.page-button:hover{
    background-color: #FC9F5B;
}
.page-button::visited{
    background-color: #ECE4B7;
}
#buttons{
    margin: auto;
    text-align: center;
    /* padding: 10px; */
}

